@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,200&display=swap');


.container {
    margin: auto;
    margin-top: 5%;
    width: 796.8px;
    height: 1123.2px;
    box-shadow: 1px 2px 4px rgb(158, 156, 168);
    background-color: rgb(242, 245, 248);
}


header {
    display: flex;
    justify-content: space-between;
    color: rgb(165, 165, 218);
}


a {
    text-decoration: none;
    color: rgb(158, 156, 168);
}


.logo {
    padding: 2% ;
    
}


.about {
    padding: 3%;
    font-family: 'Poppins', sans-serif;
}


.contact-details {
    display: flex;
}

.head-row{
    background-color: rgb(70, 69, 158);
    color: rgb(189, 189, 224);
    font-family: 'Poppins', sans-serif;
}


textarea{
    border: none;
    color: rgb(149, 149, 214);
    font-family: 'Poppins', sans-serif;
}

.table1{
    width: 95%;
    margin: auto;
}

.table2{
    width: 98%; 
    margin: auto;
}


.total{
    display: flex;
    margin-left: 71.5%;
    font-family: 'Poppins', sans-serif;
    color: rgb(70, 69, 158);
}